.button {}

.circle {
  height: 25px;
  width: 25px;
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  pointer-events: none;
  transform: scale(0);
}

@keyframes grow {
  0% {
    background-color: rgba(255, 255, 255, .2);
    transform: scale(1);
    z-index: 2;
  }

  100% {
    background-color: rgba(255, 255, 255, .2);
    transform: scale(30);
    opacity: 0;
    z-index: -1;
  }
}

.grow {
  animation: grow 1.4s ease-out forwards;
}


.shrink {
  animation: shrink .3s forwards alternate;
}

.jiggle {
  animation: jiggle 3s forwards ease-in-out;
}

@keyframes shrink {
  0% {}

  100% {
    transform: scale(.9);
  }
}

@keyframes jiggle {
  0% {
    transform: scale(.9);
  }

  10% {
    transform: scale(1.1);
  }

  20% {
    transform: scale(.9);
  }

  30% {
    transform: scale(1.05);
  }

  40% {
    transform: scale(.95);
  }

  50% {
    transform: scale(1.025);
  }

  60% {
    transform: scale(.975);
  }

  70% {
    transform: scale(1.02);
  }

  80% {
    transform: scale(.985);
  }

  90% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}



.shrink-button {
  animation: shrink-button 2s forwards ease-in-out;
}

@keyframes shrink-button {
  0% {}

  20% {
    transform: scale(.1, 1);
  }

  25% {
    transform: scale(.2, 1);
  }

  /*   30% { transform: scale(.1, 1); } */
  100% {
    transform: scale(0);
  }
}
